// COLORS
$color-primary-red: hsl(0, 78%, 62%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);
$color-primary-blue: hsl(212, 86%, 64%);

$color-neutral-very-dark-blue: hsl(234, 12%, 34%);
$color-neutral-grayish-blue: hsl(229, 6%, 66%);
$color-neutral-very-light-gray: hsl(0, 0%, 98%);

// FONT
$default-font: 'Poppins', sans-serif;
// $default-font-size: 15px;
$font-light: 200;
$font-regular: 400;
$font-bold: 600;

// MARGIN
// $margin-large: ;

// BREAKPOINTS
$bp-largest: 90em; // 1440px
$bp-smallest: 23.44em; // 375px
